$header-height: 80px;
$header-middle-size-logo: 500px;
$header-small-size-logo: 405px;
$breadcrumbs-middle-size: 585px;

$register-page-tablet-size: 450px;

$min-mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;
$hi-res-width: 1170px;

$cursor-disabled: not-allowed;
