@import '../../../styles/references/_references';

.header {
  $c-header-bg: rgba(0,0,0,.6);
  $c-header-border: rgba(255, 152, 0, .8);
  $header-height: 40px;

  margin-bottom: 20px;
  border-bottom: 3px solid $c-header-border;
  display: block;
  font-size: 20px;

  .navbar-header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-left: 15px;
    height: 100%;

    .user-auth-state {
      margin-left: auto;
    }
  }

  .container {
    padding: 0 15px;
  }

  .navbar-brand {
    height: $header-height;
    display: inline-flex;
    line-height: $header-height;
    text-decoration: none;
    color: rgba(255, 193, 7, .8);
    transition: color 0.25s ease-out;

    &__text {
      display: inline-block;
      height: 100%;
    }

    &:hover,
    &:focus {
      color: rgba(255, 193, 7, 1);

      .fa:before {
        transform: translateX(0);
      }
    }

    .fa {
      overflow: hidden;
      padding: 0;
      margin-right: 5px;
      height: 100%;
      display: inline-flex;
      align-items: center;

      &:before {
        transition: transform 0.25s ease-out;
        transform: translateX(100%);
        will-change: transform;
      }
    }
  }

  &.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  &.navbar {
    height: $header-height;
  }

  &.navbar-default {
    background-color: $c-header-bg;
  }

  .room-name {
    flex-grow: 1;
    line-height: $header-height;
    text-align: center;
    @include ellipsis();
  }
}
