@import "../../../styles/references/references";

.home-page {
	display: flex;
  flex: 1 1 auto;
	flex-direction: column;

  .page-content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .rooms-list {

    .room-item {
      display: flex;
      margin: 15px 0 0;
      padding: 15px 10px;
      cursor: pointer;
      overflow: hidden;
      transition: box-shadow 0.15s linear;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }
    }

    .room-delete {
      margin-left: auto;
    }
  }
}
