@import "../../../styles/references/references";

.home-page {
  width: 100%;
	display: flex;
  flex: 1 1 auto;
	flex-direction: column;

  .battle-field-autoplay {
    z-index: -1;
  }

  .page-content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .rooms-list {
    width: 100%;

    .room-item {
      width: 100%;
      display: flex;
      margin: 15px 0 0;
      padding: 15px 10px;
      cursor: pointer;
      overflow: hidden;
      transition: box-shadow 0.15s linear;
      box-shadow: 0 0 2px rgba(33, 150, 243, 1);
      border: 1px solid #2196F3;

      &:hover, &:focus {
        box-shadow: 0 0 25px rgba(33, 150, 243, 1);
      }
    }

    .room-name {
      width: calc(100% - 20px);
      @include ellipsis();
    }

    .room-delete {
      margin-left: auto;
    }
  }
}
