@import "../../../styles/references/references";

.room-page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;

  .page-title {
    position: relative;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    margin: 0 auto;
    padding: 15px 10px;
  }
}
